NODE_ENV=development
PORT=3000

# AWS Secrets Manager Configuration
SECRETS_MANAGER_NAME=albyhub/secrets
AWS_REGION=us-east-1

# LNURL Configuration
MIN_SENDABLE=1000
MAX_SENDABLE=100000000
COMMENT_ALLOWED=280
LNURL_CALLBACK_URL=https://albyhub.brianstoker.com/lnurl/callback
