@tailwind base;
@tailwind components;
@tailwind utilities;


.activity {
  margin-top: -24px;
  padding-top: 0px;
  opacity: 1;
  transition: all 0.4s ease-out;
}

.activity:hover {
  margin-top: 0;
  padding-top: 18px;
  transition: all 0.3s ease-in;
}

.activity.loading {
  opacity: 0;
  transition: all 0.4s ease-out;
}

.activity svg {
  transition: all .3s ease-in;
}

.react-activity-calendar__scroll-container {
    overflow-y: scroll; /* or overflow-x: scroll; for horizontal */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.react-activity-calendar__scroll-container::-webkit-scrollbar { /* WebKit (Chrome, Safari) */
    width: 0;
    height: 0;
}
.react-activity-calendar__scroll-container {
  scroll-behavior: smooth;
}

.react-activity-calendar__legend-month text {
  opacity: 0;
  transition: all 0.3s ease-in;
}

.activity.hover.labels .react-activity-calendar__legend-month text {
  opacity: 1;
  transition: all 0.3s ease-in;
}

.react-activity-calendar__calendar rect {
  transition: transform 0.6s ease-out , all 3s ease-in;
  transform-origin: 6px 6px;
  transform: scale(1) translate(0px, 0px);
  position: relative;
  border: 'unset';
  z-index: 0;
}

.react-activity-calendar__calendar rect.rect-animated {
  transform: scale(15) translateX(var(--translate-x, 0px)) translateY(var(--translate-y, 0px));
  z-index: 1000;

}

.react-activity-calendar__calendar rect.rect-highlight {
  stroke: 4px solid white;
  fill: white;
  opacity: 0;
  transition: all .2s ease-out;
}

.react-activity-calendar__footer {
  opacity: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.15s ease-out;

}

.react-activity-calendar:hover .react-activity-calendar__footer {
  opacity: 1;
  margin-bottom: 2rem;
  transition: all 0.3s ease-in;
}

/* Add hover effect for MDX post links */
.post-link:hover {
  text-decoration: underline;
}

/* Add hover effect for MDX links */
.mdx-link:hover {
  text-decoration: underline;
}
